# Ignore development configuration files
**/appsettings.Development.json

.vs/

bin/
obj/
.env
appsettings.json
**/Properties/launchSettings.json
NotificationService.API/Firebase/firebase-adminsdk.json
BackendServices/NotificationService/NotificationService.API/FireBase/firebase-adminsdk.json