.book-meta p {
    margin-bottom: 10px;
}

.description {
    color: #555;
    line-height: 1.8;
}

.cart-btn {
    width: 100%;
    background: linear-gradient(to right,#5a0a22,#8b0d2f);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buy-btn {
    width: 100%;
    background: white;
    color: #7a1f2b;
    border: 2px solid #7a1f2b;
    padding: 14px;
    border-radius: 10px;
}

.shipping-info {
    margin-top: 25px;
    color: #555;
}

.badge-custom {
    background: #fce8e8;
    color: #8b0d2f;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 14px;
}

.in-stock {
    color: green;
    font-weight: 600;
}

.out-stock {
    color: red;
    font-weight: 600;
}



.breadcrumb-area {
    width: 88%;
    margin: auto;
    margin-bottom: 25px;
    color: #666;
    font-size: 15px;
}



.book-details-page {
    background: #f5f5f5;
    padding: 50px 0;
}

.details-wrapper {
    width: 88%;
    max-width: 1450px;
    margin: auto;
    background: white;
    border-radius: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: 300px 1fr 370px;
    gap: 40px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
}

/* LEFT */
.book-gallery {
    display: flex;
    flex-direction: column;
}

.main-book-image {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #eee;
}
.thumb-images {
    display: flex;
    gap: 12px;
    margin-top: 18px;
}

    .thumb-images img {
        width: 85px;
        height: 110px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #ddd;
    }

/* CENTER */
.book-info-area h1 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.book-info-area h5 {
    font-size: 18px;
    color: #7a1f2b;
    margin-bottom: 20px;
}

.best-badge {
    background: #fdecec;
    color: #a11c3b;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 15px;
}

.rating-row {
    color: #f4b400;
    font-size: 20px;
    margin-bottom: 25px;
}

    .rating-row span {
        color: #666;
        margin-left: 10px;
        font-size: 17px;
    }

.book-meta-area p {
    margin-bottom: 12px;
    font-size: 16px;
}

.stock-green {
    color: green;
    font-weight: 700;
}

.stock-red {
    color: red;
    font-weight: 700;
}

.about-book {
    margin-top: 30px;
}

    .about-book h3 {
        margin-bottom: 18px;
        font-size: 32px;
    }

    .about-book p {
        line-height: 1.9;
        color: #555;
        font-size: 17px;
    }

.tags {
    margin-top: 25px;
}

    .tags span {
        border: 1px solid #ddd;
        padding: 8px 18px;
        border-radius: 30px;
        margin-right: 10px;
        font-size: 14px;
    }

/* RIGHT */
.purchase-box {
    border: 1px solid #eee;
    border-radius: 18px;
    padding: 30px;
}

.price-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

    .price-area h2 {
        font-size: 34px;
        font-weight: 700;
    }

    .price-area del {
        color: gray;
        font-size: 22px;
    }

.discount-box {
    background: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.tax-text {
    color: gray;
    margin-top: 10px;
    margin-bottom: 30px;
}

.qty-box {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

    .qty-box button {
        width: 42px;
        height: 42px;
        border: none;
        background: #f1f1f1;
        border-radius: 8px;
    }

.cart-button {
    width: 100%;
    border: none;
    background: linear-gradient(to right,#5a001f,#980d35);
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

.buy-button {
    width: 100%;
    background: white;
    border: 2px solid #8b0d2f;
    color: #8b0d2f;
    padding: 16px;
    border-radius: 10px;
    font-size: 18px;
}

.shipping-area {
    margin-top: 35px;
}

    .shipping-area div {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
        color: #555;
    }















/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

/* NAVBAR */
/*.custom-navbar {
    height: 90px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 50px;
}*/
.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7a1f2b;
    font-size: 34px;
    font-weight: bold;
}

    .logo i {
        font-size: 32px;
    }

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    margin: 0;
}

    .nav-links li a {
        text-decoration: none;
        color: #222;
        font-weight: 600;
        transition: 0.3s;
    }

        .nav-links li a:hover {
            color: #7a1f2b;
        }

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

    .search-box input {
        border: none;
        padding: 14px 18px;
        width: 260px;
        outline: none;
    }

    .search-box button {
        border: none;
        background: #7a1f2b;
        color: white;
        width: 55px;
        height: 50px;
        cursor: pointer;
    }

/* ICONS */
.nav-icon {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

    .nav-icon i {
        font-size: 20px;
    }



.welcome-text {
    color: #7a1f2b;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-content h1 {
    font-size: 74px;
    line-height: 1.1;
    margin: 20px 0;
    color: #222;
}

    .hero-content h1 span {
        color: #7a1f2b;
    }

.hero-content p {
    font-size: 22px;
    color: #666;
    line-height: 1.7;
}

/* HERO BUTTONS */
.hero-buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.shop-btn {
    background: linear-gradient(to right, #3b0a2a, #7a1f2b);
    color: white;
    padding: 16px 38px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.explore-btn {
    border: 2px solid #7a1f2b;
    color: #7a1f2b;
    padding: 16px 38px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

/* SEARCH */
.search-section {
    padding: 40px 90px;
    background: white;
}

.search-form {
    max-width: 700px;
    margin: auto;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

    .search-form input {
        flex: 1;
        border: none;
        padding: 18px;
        font-size: 16px;
    }

    .search-form button {
        border: none;
        background: #7a1f2b;
        color: white;
        padding: 0 25px;
    }

/* FEATURED */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .section-header h2 {
        font-size: 42px;
        color: #222;
    }

.view-all-btn {
    text-decoration: none;
    border: 1px solid #7a1f2b;
    color: #7a1f2b;
    padding: 12px 24px;
    border-radius: 10px;
}


/* CARD */

    .book-card:hover {
        transform: translateY(-8px);
    }

    .book-card img {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }

.book-info {
    padding: 20px;
}

    .book-info h4 {
        font-size: 24px;
        color: #222;
    }

.book-author {
    color: gray;
    margin-top: 5px;
}

/* PRICE */
.book-price {
    margin: 18px 0;
}

.new-price {
    color: #7a1f2b;
    font-size: 24px;
    font-weight: bold;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    margin-left: 10px;
}

/* BUTTON */
.details-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #3b0a2a, #7a1f2b);
    color: white;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
.auth-links {
    display: flex;
    align-items: center;
    gap: 18px;
}

.dropdown-toggle::after {
    margin-left: 8px;
}
.purchase-box {
    height: fit-content;
}