<div class="row">
    <div class="col">
        <button class="btn-add">Save</button>
    </div>
    <div class="col">
        <a asp-area="Admin" asp-controller="Admin" asp-action="Manage" class="btn-add">
            Back To list
        </a>
    </div>
</div>