@using System.IdentityModel.Tokens.Jwt
@inject IHttpContextAccessor HttpContextAccessor
@{
    var token = HttpContextAccessor.HttpContext.Request.Cookies["JWT"];
    // var token = HttpContextAccessor.HttpContext.Session["JWT"];
    string email = "";
    string role = "";
    if (!string.IsNullOrEmpty(token))
    {
        var handler = new JwtSecurityTokenHandler();
        var jwt = handler.ReadJwtToken(token);
        email = jwt.Claims.FirstOrDefault(x => x.Type.Contains("email"))?.Value;
        role = jwt.Claims.FirstOrDefault(x => x.Type.Contains("role"))?.Value;
    }
    ViewBag.UserRole = role;
}
@if (!string.IsNullOrEmpty(token))
{
    <div class="dropdown">
        <a class="nav-icon dropdown-toggle" data-bs-toggle="dropdown"
           href="#">
            <i class="fa-solid fa-user"></i>
            Hello @email
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" asp-area="Customer" asp-controller="Auth" asp-action="CompleteProfile">
                <i class="fa-solid fa-id-card"></i>
                Edit Profile
            </a>
            <a class="dropdown-item" asp-area="Customer" asp-controller="Auth" asp-action="Logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>
    </div>
    }
else
{
    <div class="auth-links">
        <a class="nav-icon" asp-area="Customer" asp-controller="Auth" asp-action="Login">
            Login
        </a>
        <a class="nav-icon" asp-area="Customer"  asp-controller="Auth" asp-action="Register">
            Register
        </a>
    </div>
}