<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Manage.css" asp-append-version="true" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>

    <div class="admin-wrapper">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <div class="logo">
                <i class="fas fa-book-open"></i>
                <span>BookStore</span>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a asp-area="Admin"
                       asp-controller="Admin"
                       asp-action="Index">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                </li>
                <li class="book-dropdown">
                    <a href="javascript:void(0);" class="book-dropdown-toggle">
                        <div class="menu-title">
                            <i class="fas fa-book"></i>
                            <span>Books</span>
                        </div>
                        <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="book-submenu">
                        <li>
                            <a asp-area="Admin"
                               asp-controller="Book"
                               asp-action="UpsertBook">
                                <i class="fas fa-plus-circle"></i>
                                <span>Add & Modify</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Book" asp-action="PermanentDelete">
                                <i class="fas fa-trash"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-trash-alt"></i>
                                <span>Soft Delete</span>
                            </a>
                        </li>
                        <li>
                            <a  asp-area="Admin" asp-controller="Book" asp-action="PermanentDelete">
                                <i class="fas fa-rotate-left"></i>
                                <span>Restore</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="book-dropdown">
                    <a href="javascript:void(0);" class="book-dropdown-toggle">
                        <div class="menu-title">
                            <i class="fas fa-layer-group"></i>
                            <span>Category</span>
                        </div>
                        <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="book-submenu">
                        <li>
                            <a asp-area="Admin"
                               asp-controller="Category"
                               asp-action="UpsertCategory">
                                <i class="fas fa-plus-circle"></i>
                                <span>Add & Modify</span>
                            </a>
                        </li>
                        <li>
                            <a   asp-area="Admin" asp-controller="Category" asp-action="PermanentDelete">
                                <i class="fas fa-trash"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-trash-alt"></i>
                                <span>Soft Delete</span>
                            </a>
                        </li>
                        <li>
                            <a  asp-area="Admin" asp-controller="Category" asp-action="PermanentDelete">
                                <i class="fas fa-rotate-left"></i>
                                <span>Restore</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="book-dropdown">
                    <a href="javascript:void(0);" class="book-dropdown-toggle">
                        <div class="menu-title">
                            <i class="fas fa-bookmark"></i>
                            <span>CoverType</span>
                        </div>
                        <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="book-submenu">
                        <li>
                            <a asp-area="Admin"
                               asp-controller="CoverType"
                               asp-action="UpsertCoverType">
                                <i class="fas fa-plus-circle"></i>
                                <span>Add & Modify</span>
                            </a>
                        </li>
                        <li>
                            <a  asp-Area="Admin" asp-controller="CoverType" asp-action="PermanentDelete">
                                <i class="fas fa-trash"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-trash-alt"></i>
                                <span>Soft Delete</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="CoverType" asp-action="PermanentDelete">
                                <i class="fas fa-rotate-left"></i>
                                <span>Restore</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-box"></i>
                        Orders
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-users"></i>
                        Users
                    </a>
                </li>
            </ul>
        </aside>
        <!-- MAIN -->
        <div class="admin-main">
            <!-- TOPBAR -->
            <div class="topbar">
                <div class="top-left">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="top-right">
                    <i class="fas fa-bell"></i>
                    <div class="admin-user">
                        <img src="https://i.pravatar.cc/40" />
                        <span>Admin</span>
                    </div>
                </div>
            </div>
            <!-- CONTENT -->
            <div class="admin-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script>
        $(document).ready(function () {
            $(".book-dropdown-toggle").click(function () {
                $(this).parent().toggleClass("active");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>